h1 {
    color: #339966;
    border: 5px solid green;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-bottom: 10px;
}

.body {
  margin: 0;
  height: 100%;
  background: #F5F5F5;
  overflow: hidden;
  background-image: url('Images/bg.jpg');
  background-repeat: no-repeat;
}

.mac{
width: 300px;
display:block;
margin-left:auto;
margin-right: auto;
}

.indexp{
  margin: 0 auto;
  text-align: justify;
  width: 50%;
}

.navbar{
  display: flex;
  background: #282d26;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 10px;
}

.nav-button-wrapper {
  display: flex;
}

.contact {
  text-align: center;
  color: white;
  background-color: rgb(0,0,0,0.5);
  position: absolute;
  bottom: 15%;
  width: 100%;
}


.contact-list {
  list-style-type: none;
}

.nav-button {
  padding:10px
}

.main {
  margin-top: 20px;
  width: 100%;
  text-align: center;
} 



.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.about{
  text-align: center;
  color: white;
  background-color: rgb(0,0,0,0.5);
  position: absolute;
  bottom: 15%;
  width: 100%;
border: none;
}

.bodyabout{
  margin-right: 25px;
  margin-left: 50px;
  text-align: center;

}

.pabout{
  text-align: justify;
  font-family: 'Lucida Sans';
}

.test{
  background: green;
  width: 300px;
    border: 5px solid green;
    padding: 25px;
    margin: 25px;
    margin-left: 330px;
    text-align: justify;
    border-radius: 8px;
}

.search{
  float:right;
align-self: center;
text-align:left;
}


input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.title {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 32px;
    width: 100%;
    position: absolute;
    bottom: 15%;
}

.mtitle {
  font-size: 32px;
}

.mpara {
  font-size: 16px;
}